<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <h1><a href="/">Voltar</a></h1>
    <main style="text-align: center;">
        <section>
          <h1>Link gerado com sucesso!</h1>
          <div>
            <h2>Link gerado: </h2>
            <a href="<%= link %>" target="_blank"><%= link %></a>
          </div>        
        </section>
    </main>

  </body>
</html>
